body { 
    padding-top: 70px; 
}

nav img {
    width: 70%;
}

.navbar-brand {
    padding-top: 3px;
}

.thumbnail p {
    font-size: 12px;
}
 .thumbnail a {
     margin:5px 15px 5px 0;
     min-width:35%;
 }